body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-pair img {
  max-height: 20rem;
  width: auto;
  margin: 10px;
}

#image-pair {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 10px;
}

textarea {
  width: 400px;
  height: 100px;
  margin-top: 10px;
  align-items: center;
}
#instructions {
  text-align: center;
}
h1 {
  text-align: center;
  text-decoration: dashed underline;
  font-family: Brushscript;
  font-size: 3rem;
  color: rgb(4, 1, 1);
  box-shadow: 0 4px 6px rgba(255, 220, 249, 0.872); 
}
@font-face {
  font-family: Brushscript; 
  src: url(merrycle/Merrycle\ Carved\ Font\ by\ Jasm\ 7NTypes.otf) 
}
