body {
  font-family: Arial, sans-serif;
  margin: 10%;
}

#image-pair img {
  width: 200px;
  margin: 10px;
}

textarea {
  width: 400px;
  height: 100px;
  margin-top: 10px;
}
.submission {
  page-break-inside: auto;
  break-inside: auto;
  display: block;
  margin-bottom: 1.5em;
  border: 2px solid #333;   
  padding: 1em;              
  box-sizing: border-box;    
  background-color: #fff;   
  overflow-wrap: break-word;
}
.submission h2 {
  font-size: 1rem;
  line-height: 1.4;
   font-family: Arial;
}

.image-pair {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.image-pair img {
  max-width: 45%;
  height: auto;
}


.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;      
  page-break-after: always;
  text-align: center;
}

.cover h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cover p {
  font-size: 1rem;
  color: #555;
}
